//
// Connect Styles (Contact, Social + Blog)
//
// ==========================================================================

.contact {
  h2 {
    @include breakpoint($bp-tablet) {
      text-align: left;
    }
  }

  input[type='text'], input[type='email'], textarea, button {
    width: 100%;
    margin-bottom: 16px;
    padding: 8px 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    background: #E6E6E6;
    border: 0;
    border-radius: $radius;
    outline: none;
    transition: all .6s ease;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include input-placeholder {
      color: #FFF;
    }

    &:hover, &:active {
      background: #DDD;
    }

    &:focus {
      background: #D3D3D3;
      box-shadow: inset 0px 0 30px rgba(#000, 0.1);
    }

    @include breakpoint($bp-portrait) {
      width: span(16 of 18);
      margin-left: span(1 of 18) + gutter(1 of 18);
    }

    @include breakpoint($bp-landscape) {
      float: left;
      width: 90%;
      margin-left: 0;
    }

    @include breakpoint($bp-medium) {
      width: 100%;
    }

    @include breakpoint($bp-default) {
      font-size: 17px;
    }

    @include breakpoint($bp-large) {
      width: 90%;
    }
  }

  input[type='text'], input[type='email'], textarea {
    padding-left: 10px;
  }

  textarea {
    height: 100px;
    padding-top: 8px;
    line-height: 22px;
    text-indent: 0;
    outline: none;
    resize: none;
  }

  button {
    display: block;
    width: 128px;
    margin: 0 auto;
    color: $link-color;

    &:hover {
      color: #FFF;
      background: #AAA;
    }

    &:disabled {
      color: $link-color;
      background: #E6E6E6;
      cursor: default;
    }

    @include breakpoint($bp-landscape) {
      float: left;
    }
  }
}


// Notifications
// --------------------------------------------------------------------------

.notify {
  position: fixed;
  z-index: 400;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  background: rgba(0,0,0, 0.75);

  &.good {
    background: rgba(112,205,112, 0.75);
  }
  &.bad {
    background: rgba(205,112,112, 0.75);
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 10%;
    padding: 10% 5%;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    line-height: 1.7em;

    @include breakpoint($bp-landscape) {
      padding: 5%;
      font-size: 17px;
    }

    @include breakpoint($bp-tablet) {
      font-size: 19px;
    }

    @include breakpoint($bp-medium) {
      padding: 3.5%;
    }

    /* @include breakpoint(\$bp-optimal) {
      padding: 3%;
    } */

    @include breakpoint($bp-huge) {
      padding: 40px;
    }
  }
}


// Social
// --------------------------------------------------------------------------

.social {
  h2 {
    @include breakpoint($bp-landscape) {
      visibility: hidden;
    }

    @include breakpoint($bp-medium) {
      visibility: visible;
      text-align: left;
    }
  }

  ul {
    margin: 0 auto;
    padding: 0;

    @include breakpoint($bp-landscape) {
      margin-top: -14px;
      padding: 5px 0;
      border-left: 1px solid #EEE;
    }

    @include breakpoint($bp-medium) {
      margin-top: 0;
      padding: 0;
      border-left: 0;
    }

    @include breakpoint($bp-default) {
      margin-top: -10px;
    }

    li {
      height: 24px;
      width: 100%;
      margin-bottom: 18px;
      list-style: none;

      @include breakpoint($bp-landscape) {
        margin-bottom: 15px;
      }

      @include breakpoint($bp-optimal) {
        height: 28px;
        margin-bottom: 18px;
      }

      &:last-of-type {
        margin-bottom: 6px;
      }

      &.hide-mobile {
        display: none;

        @media (min-width: $bp-large) {
          display: block;
        }
      }

      a {
        display: inline-block;
        width: 100%;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        text-indent: 34%;

        svg path {
          transition: fill .6s ease;
        }

        // &.twitter:hover {
        //   color: #00ACED;
        //   svg path { fill: #00ACED; }
        // }

        &.timeline:hover {
          color: #51D9B7;
          svg path { fill: #51D9B7; }
        }

        &.github:hover {
          color: #000;
          svg path { fill: #000; }
        }

        &.pinterest:hover {
          color: #CB2027;
          svg path { fill: #CB2027; }
        }

        &.linkedin:hover {
          color: #007BB6;
          svg path { fill: #007BB6; }
        }

        &.gchat:hover, &.resume:hover {
          color: darken(#78A6FB, 10%);
          svg path { fill: darken(#78A6FB, 10%); }
        }

        &.email:hover {
          color: lighten($hilite-color-alt, 25%);
          svg path { fill: lighten($hilite-color-alt, 25%); }
        }

        @include breakpoint($bp-landscape) {
          text-indent: 30px;
        }

        @include breakpoint($bp-medium) {
          width: 50%;
        }

        @include breakpoint($bp-optimal) {
          height: 28px;
          font-size: 18px;
          line-height: 28px;
        }

        svg {
          max-width: 28px;
          margin-right: 12px;

          @include breakpoint($bp-landscape) {
            max-width: 24px;
            margin-top: -2px;
          }

          @include breakpoint($bp-optimal) {
            max-width: 28px;
            margin-top: -3px;
          }

          path {
            fill: $link-color;
          }
        }
      }
    }
  }
}
