//
// Core Stylesheet
//
// ==========================================================================

// Variables



// Styles

* {
  margin: 0;
  padding: 0;
}

p {
  text-indent: 20px;
  color: #222;
}


.site {
  > div {
    float: left;
    width: 100%;
  }

  header, footer {
    height: 300px;
    padding: 20px 0;
    background: rgba(#000, 0.25);

    p {
      color: #FFF;
    }
  }

  footer {
    height: 200px;
  }

  div > .inner {
    height: 400px;
    padding: 20px 0;
  }

  .about {
    .inner {
      background: rgba(#F0E, 0.15);
    }
  }
  .work {
    .inner {
      background: rgba(#96F, 0.15);
    }
  }
  .social {
    .inner {
      background: rgba(#6F0, 0.15);
    }
  }
  .contact {
    .inner {
      background: rgba(#0FE, 0.15);
    }
  }
}
