//
// Core Stylesheet
//
// ==========================================================================

// Variables

$breakpoint-mobile-wide         :     568px;
$breakpoint-tablet              :     768px;
$breakpoint-tablet-wide         :     1024px;
$breakpoint-desktop             :     1080px;
$breakpoint-desktop-wide        :     1200px;

$header-height-mobile           :     568px;
$header-height-mobile-wide      :     320px;
$header-height-tablet           :     1024px;
$header-height-tablet-wide      :     768px;
$header-height-desktop          :     648px;

// Styles

* {
  margin: 0;
  padding: 0;
}

p {
  position: relative;
  top: 20px;
  text-indent: 20px;
  color: #FFF;
}

.site {
  > div {
    float: left;
    width: 100%;
  }

  header {
    height: $header-height-mobile;
    /* @include breakpoint($breakpoint-mobile-wide) {
      height: $header-height-mobile-wide;
    }
    @include breakpoint($breakpoint-tablet) {
      height: $header-height-tablet;
    }
    @include breakpoint($breakpoint-tablet-wide) {
      height: $header-height-tablet-wide;
    }
    @include breakpoint($breakpoint-desktop) {
      height: $header-height-desktop;
    } */
    background: rgba(#000, 0.25);
  }

  footer {
    height: 200px;
    background: rgba(#000, 0.25);
  }

  div > .inner {
    height: 400px;
  }

  .split > div > .inner {
    height: 300px;
  }

  .about {
    .inner {
      background: rgba(#F0E, 0.15);
    }
  }
  .work {
    .inner {
      background: rgba(#96F, 0.15);
    }
  }
  .social {
    .inner {
      background: rgba(#6F0, 0.15);
    }
  }
  .contact {
    .inner {
      background: rgba(#0FE, 0.15);
    }
  }
}
