//
// Core Styles
//
// ==========================================================================

// Defaults
// --------------------------------------------------------------------------
//$breakpoint-to-ems              :     true;
$bp-hidpi                       :     min-resolution 1.5dppx;
$bp-nexus5-portrait             :     (device-width 360px) (orientation portrait);
$bp-ipad-portrait               :     (device-width 768px) (orientation portrait);
$bp-portrait                    :     360px;
$bp-landscape                   :     560px;
$bp-tablet                      :     600px;
$bp-medium                      :     780px;
$bp-optimal                     :     900px;
$bp-default                     :     960px;
$bp-large                       :     1020px;
$bp-huge                        :     1280px;
$bp-cinema                      :     1320px;

$default-font                   :     lighter 15px sans-serif-light, Helvetica, Arial, sans-serif;
$default-radius                 :     6px;


// Styles
// --------------------------------------------------------------------------
h2, h3, p {
  margin: 0;
  font: $default-font;
}

h2, h3 {
  padding: 72px 0 32px;
  font-size: 32px;
  text-align: center;
  color: #888;

  @include breakpoint($bp-landscape) {
    text-align: left;
  }

  @include breakpoint($bp-tablet) {
    text-align: center;
  }

  @include breakpoint($bp-medium) {
    text-align: left;
  }
}

h2 {
  @include breakpoint($bp-default) {
    padding: 132px 0 44px;
    font-size: 41px;
  }
}

h3 {
  @include breakpoint($bp-default) {
    padding-bottom: 44px;
    font-size: 32px;
  }
}

p {
  margin-bottom: 20px;
  text-align: justify;
  line-height: 23px;
  letter-spacing: 0.035em;
  color: #999;

  &:last-of-type {
    margin-bottom: 0;
  }
}

// Components
// --------------------------------------------------------------------------
@import 'inc/_header.scss';

.site {
  @import 'inc/_vision.scss';
  @import 'inc/_work.scss';
  @import 'inc/_blog.scss';
  @import 'inc/_connect.scss';
  @import 'inc/_footer.scss';
}
