/* @font-face {
  font-family: "Helvetica Neue Ultra Light"; src: url('fonts/helveticaNeueUltraLight.ttf') format('truetype');
}

@font-face {
  font-family: "Helvetica Neue Light"; src: url('fonts/HelveticaNeueLight.ttf') format('truetype');
}

@font-face {
  font-family: "Alegreya Sans Thin"; src: url('fonts/AlegreyaSansThin.ttf') format('truetype');
} */