//
// Gallery Styles
//
// ==========================================================================

.gallery {
  position: relative;
  height: (160px * 2) + 16px; // = item-height (x2) + item's margin-bottom
  width: span(16 of 18);
  margin-left: span(1 of 18) + gutter(1 of 18);
  margin-bottom: 16px;
  overflow: hidden;

  @include breakpoint($bp-landscape) {
    @include full;
    height: 160px + 18px; // = item-height + item's margin-bottom
    margin-bottom: 18px;
  }

  @include breakpoint($bp-tablet) {
    height: (178px * 3) + (18px * 2); // = item-height (x3) + item's margin-bottom (x2)
    margin-bottom: 26px;
  }

  @include breakpoint($bp-medium) {
    height: (152px * 2) + 15px; // = item-height (x2) + item's margin-bottom
  }

  @include breakpoint($bp-default) {
    height: (160px * 2) + 18px; // = item-height (x2) + item's margin-bottom
  }

  @include breakpoint($bp-large) {
    height: (172px *3) + (18px * 2) // = item-height (x3) + item's margin-bottom (x2)
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 2000px;
    width: 100%;

  }

  .tile {
    float: left;
    height: 160px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #E6E6E6;
    background-position: center center, -99em;
    background-repeat: no-repeat;
    border-radius: $radius;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:hover {
      background-color: #FFF;
      background-position: -99em, center center;
      box-shadow: inset 0px 0 30px rgba(#000, 0.1);
      border: inset 1px rgba(#000, 0.05);
      cursor: pointer;
    }

    &.target {
      background-size: 96px;
      background-image: url('../img/projects/target/logo-gray.min.svg'),
                        url('../img/projects/target/logo.min.svg');

      @include breakpoint($bp-medium) {
        background-size: 90px;
      }

      @include breakpoint($bp-default) {
        background-size: 96px;
      }
    }

    &.ge {
      background-size: 104px;
      background-image: url('../img/projects/ge/logo-gray.min.svg'),
                        url('../img/projects/ge/logo.min.svg');

      @include breakpoint($bp-medium) {
        background-size: 98px;
      }

      @include breakpoint($bp-default) {
        background-size: 104px;
      }
    }

    &.tsi {
      background-size: 106px;
      background-image: url('../img/projects/360i/logo-gray.min.svg'),
                        url('../img/projects/360i/logo.min.svg');

      @include breakpoint($bp-medium) {
        background-size: 100px;
      }

      @include breakpoint($bp-default) {
        background-size: 106px;
      }
    }

    &.crown {
      background-size: 116px;
      background-image: url('../img/projects/crown/logo-gray.min.svg'),
                        url('../img/projects/crown/logo.min.svg');

      @include breakpoint($bp-medium) {
        background-size: 110px;
      }

      @include breakpoint($bp-default) {
        background-size: 116px;
      }
    }

    &.kraft {
      background-size: 160px;
      background-image: url('../img/projects/kraft/logo-gray.min.svg'),
                        url('../img/projects/kraft/logo.min.svg');

      @include breakpoint($bp-medium) {
        background-size: 153px;
      }

      @include breakpoint($bp-default) {
        background-size: 160px;
      }
    }

    &.oscarmayer {
      background-size: 118px;
      background-image: url('../img/projects/oscarmayer/logo-gray.min.svg'),
                        url('../img/projects/oscarmayer/logo.min.svg');

      @include breakpoint($bp-medium) {
        background-size: 112px;
      }

      @include breakpoint($bp-default) {
        background-size: 118px;
      }
    }

    &.yourcare {
      background-size: 198px;
      background-image: url('../img/projects/yourcare/logo-gray.min.svg'),
                        url('../img/projects/yourcare/logo.min.svg');

      @include breakpoint($bp-medium) {
        background-size: 182px;
      }

      @include breakpoint($bp-default) {
        background-size: 198px;
      }
    }

    &.adultswim {
      background-size: 196px;
      background-image: url('../img/projects/adultswim/logo-gray.min.svg'),
                        url('../img/projects/adultswim/logo.min.svg');

      @include breakpoint($bp-medium) {
        background-size: 180px;
      }

      @include breakpoint($bp-default) {
        background-size: 196px;
      }
    }

    &.nylearns {
      background-size: 203px;
      background-image: url('../img/projects/nylearns/logo-gray.min.svg'),
                        url('../img/projects/nylearns/logo.min.svg');

      @include breakpoint($bp-medium) {
        background-size: 194px;
      }

      @include breakpoint($bp-default) {
        background-size: 203px;
      }
    }

    &.placeholder {
      background-color: rgba(#E6E6E6, 0.4);

      &:hover {
        background-color: rgba(#E6E6E6, 0.4);
        border: none;
        box-shadow: none;
        cursor: default;
      }
    }

    @include breakpoint($bp-landscape) {
      @include span(6.9 of 14);
      height: 178px;
      margin-bottom: 18px;

      &:nth-of-type(even) {
        @include span(last 6.9 of 14);
      }
    }

    @include breakpoint($bp-medium) {
      @include span(5.9 of 18);
      height: 152px;
      margin-right: span(1 of 41);
      margin-bottom: 15px;

      &:nth-of-type(even) {
        @include span(5.9 of 18);
        margin-right: span(1 of 41);
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @include breakpoint($bp-default) {
      width: 32%;
      height: 160px;
      margin-right: 2%;
      margin-bottom: 18px;

      &:nth-of-type(even) {
        width: 32%;
        margin-right: 2%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @include breakpoint($bp-large) {
      height: 172px;
    }
  }
}

.pagination {
  width: span(16 of 18);
  margin-left: span(1 of 18) + gutter(1 of 18);
  text-align: center;
  cursor: default;
  -webkit-user-select: none;

  @include breakpoint($bp-large) {
    display: none;
  }

  div {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 14px;
    border-radius: 50%;
    background: #CCC;

    @include breakpoint($bp-tablet) {
      &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        display: none;
      }

      &:nth-child(2) {
        margin-right: 0;
      }
    }

    span {
      position: absolute;
      top: 2px;
      left: 2px;
      display: inline-block;
      height: 12px;
      width: 12px;
      border-radius: 50%;
    }

    &:last-of-type {
      margin-right: 0;
    }

    .no-touch &:hover {
      background: #999;
      cursor: pointer;
    }

    &.active, &.active:hover {
      background: #CCC;
      cursor: default;

      span {
        background: #F2F2F2;
      }
    }
  }
}
