//
// Grid Layout
//
// ==========================================================================

$susy: (
  columns: 12,
  gutters: .25
);

/* $susy-medium: (
  columns: 18
);

$susy-large: (
  columns: 24
); */

@include border-box-sizing;

.site {
  @include container(show);
  @include clearfix;

  /* @include susy-breakpoint($bp-large, $susy-large show) {
    @include container();
  } */

  .content {
    @include span(10);
    margin-left: span(1) + gutter();

    @include breakpoint($bp-large) {
      @include span(12);
    }
  }

  header, footer, > div, div > .split {
    @include full;
  }

  header p {
    padding: 0 gutter();
  }

  .work .gallery {
    @include full;

    > div {
      @include gallery(6 of 12);
      height: 140px;
      margin-bottom: 1em;
    }
  }

  @include breakpoint($bp-medium) {
    .split > div {
      @include span(5 of 10);

      .content {
        @include span(last 5 of 6);
      }
    }
    .split > div:last-of-type {
      @include span(last 5 of 10);

      .content {
        @include span(5 of 6);
        margin-left: 0;
      }
    }
    .work .gallery {

      > div {
        @include gallery(4 of 12);
        height: 180px;
      }
    }
  }

  @include breakpoint($bp-large) {
    > header .inner, > footer .inner, .content {
      @include span(10 of 12);
      margin-left: span(1) + gutter();
    }
  }

  /* @include breakpoint($bp-huge) {

  } */

  @include breakpoint($bp-cinema) {
    > header .inner, > footer .inner, > div > .inner, > .split {
      float: none;
      max-width: 1100px;
      margin: 0 auto;
    }
    > div > .inner > *:not(.split),
    > div > .inner > .split > div > .inner > *,
    > .split > div > .inner > *,
    > .split > div:last-of-type > .inner > * {
      @include full;
    }
  }
}
