//
// Grid Layout
//
// ==========================================================================

$susy: (
  columns: 18,
  gutters: .25
);

/* $susy-large: (
  columns: 24
); */

@include border-box-sizing;

.site {
  @include container();
  @include clearfix;

  /* @include susy-breakpoint(\$bp-landscape, \$susy-landscape show) {
    @include container();
  } */

  header, footer, > div, div > .split {
    @include full;
  }

  .content {
    @include span(16);
    margin-left: span(1) + gutter();

    @include breakpoint($bp-landscape) {
      width: span(16 of 18);
      margin-left: span(1 of 18) + gutter(1 of 18);
    }
  }

  @include breakpoint($bp-medium) {
    .split > div {
      @include span(9 of 18);

      .content {
        @include span(last 8 of 9);
      }
    }

    .split > div:last-of-type {
      @include span(last 9 of 18);

      .content {
        @include span(8 of 9);
        margin-left: 0;
      }
    }
  }

  @include breakpoint($bp-large) {
    > header .inner, > footer .inner, > div > .inner, > .split {
      float: none;
      max-width: 1100px;
      margin: 0 auto;
    }
  }

  @include breakpoint($bp-huge) {
    > header .inner, > footer .inner, > div > .inner, > .split {
      float: none;
      max-width: 1060px;
      margin: 0 auto;
    }

    > header > .inner > .content,
    > div > .inner > *:not(.split),
    > div > .inner > .split > div > .inner > *,
    > .split > div > .inner > *,
    > .split > div:last-of-type > .inner > * {
      @include full;
    }

    > header > .inner > .content {
      max-width: 1100px;
    }
  }
}
