//
// Grid Layout
//
// ==========================================================================

$susy: (
  columns: 18,
  gutters: .25
);

/* $susy-landscape: (
  columns: 18
);

$susy-large: (
  columns: 24
); */

@include border-box-sizing;

.site {
  @include container(show);
  @include clearfix;

  /* @include susy-breakpoint(\$bp-landscape, \$susy-landscape show) {
    @include container();
  } */

  .content {
    @include span(16);
    margin-left: span(1) + gutter();

    @include breakpoint($bp-large) {
      @include span(12);
    }

    @include breakpoint($bp-landscape) {
      width: span(16 of 18);
      margin-left: span(1 of 18) + gutter(1 of 18);

      // background: rgba(purple, 0.25);
    }

    @include breakpoint($bp-tablet) {

      background: rgba(orange, 0.25);
    }
  }

  header, footer, > div, div > .split {
    @include full;
  }

  /* @include breakpoint(\$bp-landscape) {
    header .content {
      @include full;
    }
  } */

  @include breakpoint($bp-medium) {
    .split > div {
      @include span(5 of 10);

      .content {
        @include span(last 5 of 6);
      }
    }
    .split > div:last-of-type {
      @include span(last 5 of 10);

      .content {
        @include span(5 of 6);
        margin-left: 0;
      }
    }
  }

  @include breakpoint($bp-large) {
    > header .inner, > footer .inner, .content {
      @include span(10 of 12);
      margin-left: span(1) + gutter();
    }
  }

  /* @include breakpoint($bp-huge) {

  } */

  @include breakpoint($bp-cinema) {
    > header .inner, > footer .inner, > div > .inner, > .split {
      float: none;
      max-width: 1100px;
      margin: 0 auto;
    }
    > div > .inner > *:not(.split),
    > div > .inner > .split > div > .inner > *,
    > .split > div > .inner > *,
    > .split > div:last-of-type > .inner > * {
      @include full;
    }
  }
}
