//
// Modal Styles
//
// ==========================================================================

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  overflow-y: auto;
  text-align: center;
  background: #FFF;
  -webkit-user-select: none;

  p {
    width: 80%;
    max-width: 700px;
    margin: 0 auto 12%;
    font-size: 14px;
    line-height: 25px;

    @include breakpoint($bp-landscape) {
      margin-bottom: 40px;
    }

    @include breakpoint($bp-tablet) {
      margin-bottom: 70px;
      font-size: 17px;
      line-height: 28px;
    }

    @include breakpoint($bp-tablet) {
      font-size: 16px;
    }

    em {
      white-space: nowrap;
    }
  }

  .sample {
    position: relative;
    display: inline-block;
    width: 27%;
    height: auto;
    max-height: 148px;
    margin-right: 2%;
    overflow: hidden;
    vertical-align: top;
    background: #FEFEFE;
    box-shadow: 0 0 5px rgba(#000, 0.1);
    //box-shadow: 1px 3px 6px rgba(#000, 0.1);

    @include breakpoint($bp-landscape) {
      max-height: 216px;
    }

    @include breakpoint($bp-tablet) {
      max-width: 190px;
      height: auto;
      max-height: 340px;
      margin-right: 1.5%;
      margin-bottom: 50px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0 0 7px rgba(#000, 0.15);
    }

    img {
      width: 100%;
      vertical-align: top;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0,0,0,0);

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }

  svg.logo {
    max-width: 150px;
    max-height: 150px;
    margin-top: 20px;
    margin-bottom: 30px;

    @include breakpoint($bp-tablet) {
      max-width: 170px;
      max-height: 170px;
      margin-top: 40px;
      margin-bottom: 50px;
    }
  }

  &.target {
    svg.logo {
      max-height: 148px;
      margin-bottom: 22px;

      @include breakpoint($bp-tablet) {
        max-height: 200px;
        margin-bottom: 40px;
      }
    }
  }

  &.ge {
    svg.logo {
      max-height: 130px;
      margin-top: 30px;

      @include breakpoint($bp-tablet) {
        max-height: 150px;
        margin-top: 40px;
      }
    }
  }

  &.tsi {
    svg.logo {
      margin-top: 34px;
      max-height: 126px;

      @include breakpoint($bp-tablet) {
        max-height: 150px;
        margin-top: 40px;
      }
    }
  }

  &.crown {
    svg.logo {
      max-width: 140px;
      margin-top: 40px;
      margin-bottom: 40px;

      @include breakpoint($bp-tablet) {
        max-width: 164px;
        margin-top: 50px;
        margin-bottom: 60px;
      }
    }
  }

  &.kraft {
    svg.logo {
      max-width: 206px;
      margin-top: 50px;
      margin-bottom: 50px;

      @include breakpoint($bp-tablet) {
        max-width: 220px;
        margin-top: 60px;
        margin-bottom: 70px;
      }
    }
  }

  &.oscarmayer {
    svg.logo {
      max-width: 142px;
      margin-top: 30px;

      @include breakpoint($bp-tablet) {
        max-width: 180px;
        margin-top: 40px;
      }
    }
  }

  &.yourcare {
    svg.logo {
      max-width: 240px;
      margin-top: 70px;
      margin-bottom: 70px;

      @include breakpoint($bp-tablet) {
        max-width: 310px;
      }
    }
  }

  &.adultswim {
    svg.logo {
      max-width: 250px;
      margin-top: 70px;
      margin-bottom: 60px;

      @include breakpoint($bp-tablet) {
        max-width: 300px;
      }
    }
  }

  &.nylearns {
    svg.logo {
      max-width: 240px;
      margin-top: 60px;
      margin-bottom: 60px;

      @include breakpoint($bp-tablet) {
        max-width: 290px;
        margin-bottom: 70px;
      }
    }
  }
}

.modal .close,
.stage .close {
  position: fixed;
  top: 16px;
  right: 18px;
  width: 28px;
  height: 28px;
  text-indent: -9999em;
  background: inline-svg-image('../img/modal-close-button.svg') center center no-repeat;
  opacity: .25;
  cursor: pointer;
  transition: opacity .6s ease;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);

  @include breakpoint($bp-default) {
    top: 24px;
    right: 26px;
  }

  &:hover {
    opacity: .6;
  }
}

.stage {
  display: none;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: none;
  overflow-y: auto;
  text-align: center;
  background: #FEFEFE url(../img/loading.gif) center 36% no-repeat;

  .close {
    z-index: 300;
    display: none;

    @include breakpoint($bp-tablet) {
      display: block;
    }
  }

  img {
    position: relative;
    top: 5%;
    width: 85%;
    max-width: 800px;
    margin-bottom: 15%;
    opacity: 1;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(#000, 0.1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    @include breakpoint($bp-tablet) {
      top: 8%;
    }

    @include breakpoint($bp-default) {
      top: 10%;
    }
  }
}

#comingsoon {
  width: 700px;
  margin: 20% auto;
  font-weight: 200;
  font-size: 32px;
  color: #000;
  text-align: center;
}

/*.ie-disclaimer {
  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;

  * {
    text-align: center;
  }

  h2 {
    width: 40%;
    margin: 40px auto;
    padding: 20px;
    color: #F00;
    font-family: Georgia;
    font-weight: bold;
    font-size: 36px;
    border: 1px solid #EEE;
  }

  p {
    margin: 10px 5px;
    padding: 0 30px;
    font-size: 15px;
  }
}*/
