//
// Modal Styles
//
// ==========================================================================

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: center;
  background: #FFF;
  -webkit-user-select: none;

  .close {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 28px;
    height: 28px;
    text-indent: -9999em;
    background: url(../img/modal-close-button.svg) center center no-repeat;
    opacity: .25;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);

    &:hover {
      opacity: .6;
    }
  }

  p {
    width: 80%;
    max-width: 800px;
    margin: 0 auto 12%;
    font-size: 13px;

    @include breakpoint($bp-landscape) {
      margin-bottom: 40px;
    }

    @include breakpoint($bp-tablet) {
      margin-bottom: 70px;
      font-size: 15px;
    }
  }

  .sample {
    position: relative;
    display: inline-block;
    width: 27%;
    height: auto;
    max-height: 148px;
    margin-right: 2%;
    overflow: hidden;
    vertical-align: top;
    background: #FEFEFE;
    box-shadow: 0 0 5px rgba(#000, 0.1);
    //box-shadow: 1px 3px 6px rgba(#000, 0.1);

    @include breakpoint($bp-landscape) {
      max-height: 216px;
      margin-bottom: 10%;
    }

    @include breakpoint($bp-tablet) {
      max-width: 190px;
      height: auto;
      max-height: 340px;
      margin-right: 1.5%;
      margin-bottom: 50px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0 0 7px rgba(#000, 0.15);
    }

    img {
      width: 100%;
      vertical-align: top;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0,0,0,0);

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }

  svg.logo {
    max-width: 150px;
    max-height: 150px;
    margin-top: 20px;
    margin-bottom: 30px;

    @include breakpoint($bp-tablet) {
      max-width: 170px;
      max-height: 170px;
      margin-bottom: 50px;
    }
  }

  &.target {
    svg.logo {
      max-height: 148px;
      margin-bottom: 22px;

      @include breakpoint($bp-tablet) {
        max-height: 200px;
        margin-bottom: 40px;
      }
    }
  }

  &.ge {
    svg.logo {
      max-height: 130px;
      margin-top: 30px;

      @include breakpoint($bp-tablet) {
        max-height: 150px;
      }
    }
  }

  &.tsi {
    svg.logo {
      margin-top: 34px;
      max-height: 126px;

      @include breakpoint($bp-tablet) {
        max-height: 150px;
      }
    }
  }

  &.crown {
    svg.logo {
      max-width: 140px;
      margin-top: 40px;
      margin-bottom: 40px;

      @include breakpoint($bp-tablet) {
        max-width: 164px;
        margin-top: 50px;
        margin-bottom: 60px;
      }
    }
  }

  &.kraft {
    svg.logo {
      max-width: 206px;
      margin-top: 50px;
      margin-bottom: 50px;

      @include breakpoint($bp-tablet) {
        max-width: 220px;
        margin-top: 60px;
        margin-bottom: 70px;
      }
    }
  }

  &.oscarmayer {
    svg.logo {
      max-width: 142px;
      margin-top: 30px;

      @include breakpoint($bp-tablet) {
        max-width: 180px;
        margin-top: 40px;
      }
    }
  }

  &.yourcare {
    svg.logo {
      max-width: 240px;
      margin-top: 70px;
      margin-bottom: 70px;

      @include breakpoint($bp-tablet) {
        max-width: 310px;
      }
    }
  }

  &.adultswim {
    svg.logo {
      max-width: 250px;
      margin-top: 70px;
      margin-bottom: 60px;

      @include breakpoint($bp-tablet) {
        max-width: 300px;
      }
    }
  }

  &.nylearns {
    svg.logo {
      max-width: 240px;
      margin-top: 60px;
      margin-bottom: 60px;

      @include breakpoint($bp-tablet) {
        max-width: 290px;
        margin-bottom: 70px;
      }
    }
  }
}

.stage {
  display: none;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: none;
  overflow-y: auto;
  text-align: center;
  background: #FEFEFE url(../img/loading.gif) center 36% no-repeat;

  .close {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 28px;
    height: 28px;
    text-indent: -9999em;
    background: url(../img/modal-close-button.svg) center center no-repeat;
    opacity: .25;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);

    &:hover {
      opacity: .6;
    }
  }

  img {
    position: relative;
    top: 5%;
    width: 85%;
    max-width: 800px;
    margin-bottom: 15%;
    opacity: 1;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(#000, 0.1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}
