//
// Resume Styles ~ Jrod.io
//
// ==========================================================================

// Utilities
// --------------------------------------------------------------------------

@import 'normalize';
@import 'breakpoint';


// Defaults
// --------------------------------------------------------------------------

$default-width      :   920px;
$default-gutters    :   0 50px;
$default-gaps       :   90px;

$default-color      :   #111;
$title-color        :   #444;
$subtitle-color     :   #333;
$summary-color      :   #888;

$hilite-primary     :   #0072FF;
$hilite-alt         :   #4E18A6;

$default-font       :   'aktiv-grotesk-std', sans-serif-light, Helvetica, Arial, sans-serif;
$content-font       :   'proxima-nova', sans-serif-light, Helvetica, Arial, sans-serif;

$bp-landscape       :   orientation landscape;
$bp-desktop         :   680px;


// Layout
// --------------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
}

body {
  min-width: 320px;
  color: $default-color;
  font-family: $default-font;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: $bp-desktop) {
    min-width: 100%;
  }
}

div, span, h1, h2, h3, h4, h5, p, li {
  cursor: default;
}

#page {
  position: relative;
  z-index: 1;
  float: left;
  width: 100%;
  height: 100%;
  background: #FFF;
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}


// Header
// --------------------------------------------------------------------------

header {
  position: relative;
  width: 100%;
  height: 135px;
  margin-bottom: $default-gaps;
  padding-top: 30px;
  box-shadow: 10px 0 20px rgba(0,0,0,0.5);

  @media (min-width: $bp-desktop) {
    height: 120px;

    .left {
      width: 50% !important;
      text-align: initial !important;
    }
    .right { display: block !important; }
  }

  .inner {
    max-width: $default-width;
    height: 55px;
    margin: 0 auto;
    padding: $default-gutters;
    font-size: 26px;
    font-weight: 200;

    div {
      position: relative;
      width: 50%;
      height: 100%;
      letter-spacing: -1px;
      text-transform: uppercase;

      span {
        font-weight: 600;
      }
    }

    .left {
      width: 100%;
      text-align: center;
    }

    .right { display: none; }
  }

  .fx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;
    text-align: center;
    overflow: visible;

    &.gradient {
      background: radial-gradient(ellipse at center, transparent 0%, black 100%),
                  linear-gradient(to bottom, rgba($hilite-primary, 1) 15%, rgba($hilite-alt, 1) 55%);
    }

    &.pattern {
      background: url(../img/bg-pattern.png) top left repeat;
      background-size: 33px;
      opacity: 0.5;
    }

    svg {
      width: 124px;
      position: relative;
      top: -6px;
      overflow: visible;
    }
  }

  .anim {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: .3;

    li {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      list-style: none;
      background: url(../img/bg-particles.png);
      background-size: contain;
      animation: animate-fx 10s linear infinite;
      opacity: 0;
    }

    li:nth-child(1) {
      animation-delay: 4s;
    }

    li:nth-child(2) {
      animation-delay: 3s;
    }

    li:nth-child(3) {
      animation-delay: 2s;
    }

    li:nth-child(4) {
      animation-delay: 1s;
    }

    li:nth-child(1) {
      animation-delay: 0s;
    }

    @keyframes animate-fx {
      0% {
        transform: scale(1) rotate(0deg);
        opacity: 0;
      }
      50% {
        transform: scale(2) rotate(180deg);
        opacity: 1;
      }
      100% {
        transform: scale(0) rotate(360deg);
        opacity: 0;
      }
    }
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 55px;
    width: 100%;
    list-style: none;

    li {
      display: inline-flex;

      a {
        height: 28px;
        margin: 0 0 0 45px;
        line-height: 38px;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: .3px;
        text-decoration: none;
        border-bottom: 1px solid #CCC;
        color: #777;

        &:hover {
          color: rgb(85, 26, 139);
          border-bottom: 1px solid rgb(85, 26, 139);
          transition: .4s all ease-in-out;
        }

        span { display: none; }
      }
    }
  }
}


// Content
// --------------------------------------------------------------------------

.content {
  max-width: $default-width;
  margin: 0 auto;
  padding: 0 30px;
  
  @media (min-width: $bp-desktop) {
    padding: $default-gutters;
  }

  h1, h2.xp-cont { display: none; }

  .section {
    float: left;
    width: 100%;
    margin-bottom: $default-gaps;

    &:last-of-type {
      margin-bottom: 0;
    }

    h2 {
      float: left;
      width: 20%;
      margin-top: 5px;
      padding-bottom: 2px;
      color: $title-color;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      background: -webkit-linear-gradient(0deg, darken($hilite-primary, 14%), darken($hilite-alt, 13%));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-border-image: -webkit-linear-gradient(left, darken($hilite-primary, 14%), darken($hilite-alt, 13%)) 0 0 100% 0;
      border-width: 0;
      border-bottom: 2px solid $title-color;
    }

    .inner {
      float: left;
      width: 77%;
      margin-left: 3%;

      .left, .right {
        float: left;
        width: 48%;
        text-align: left;
      }

      .right {
        margin-left: 4%;
      }

      h3 {
        margin-top: 5px;
        margin-bottom: 16px;
        padding-bottom: 2px;
        color: $subtitle-color;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        background: -webkit-linear-gradient(0deg, darken($hilite-alt, 13%), #555);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-border-image: -webkit-linear-gradient(left, darken($hilite-alt, 13%), #555) 0 0 100% 0;
        border-width: 0;
        border-bottom: 2px solid $subtitle-color;
      }

      p, ul {
        font-family: $content-font;
        font-size: 15px;
        font-weight: 300;
        text-align: justify;
        line-height: 26px;
      }

      ul {
        margin-left: 30px;
        font-size: 14px;

        li {
          list-style-type: circle;
        }
      }
    }

    &.summary {
      h2 { display: none; }
      h3 span { display: none; }

      .inner {
        margin: 0;
        width: 100%;
      }

      @media (min-width: 500px) {
        h3 span { display: inline; }
      }

      @media (min-width: $bp-desktop) {
        h2 { display: block; }
      
        .inner {
          width: 77%;
          margin-left: 3%;
        }
      }
    }

    &.skills {
      h2 { display: none; }
      ul {
        margin-left: 20px;
        text-align: left;

        li span { display: none; }
      }

      .inner {
        width: 100%;
        margin-left: 0;
      }
      .left { width: 100%; }
      .right {
        width: 100%;
        margin: 40px 0 0;
      }

      @media (min-width: 420px) {
        ul li span { display: inline; }
      }

      @media (min-width: 650px) {
        ul li span { display: none; }
        .left { width: 48%; }
        .right {
          width: 48%;
          margin: 0 0 0 4%;
        }
      }

      @media (min-width: 800px) {
        .left { width: 45%; }
        .right { width: 51%; }
        ul li span { display: inline; }
      }

      @media (min-width: 980px) {
        h2 { display: block; }
        .inner {
          width: 77%;
          margin-left: 3%;
        }
      }
    }

    &.experience, &.education {
      h2 {
        width: 100%;
        margin-bottom: 40px;
      }

      .inner {
        margin: 0;
        width: 100%;
      }

      h3 {
        float: left;
        width: 100%;

        &.title-only { margin-top: 35px; }

        span.lowercase {
          text-transform: lowercase;
        }

        .hide-mobile {
          display: none;

          @media (min-width: 420px) {
            display: inline;
          }
        }

        .show-mobile {
          display: inline;

          @media (min-width: 420px) {
            display: none;
          }
        }

        .location { font-size: 10px; }

        .left {
          width: 100%;

          @media (min-width: 600px) {
            width: 48%;
          }
        }

        .right {
          width: 100%;
          margin: 3px 0 5px 0;
          text-align: left;
          font-size: 10px;
          

          @media (min-width: 600px) {
            width: 48%;
            margin: 0 0 0 4%;
            font-size: 13px;
            text-align: right;
          }
        }
      }

      h4, h5 {
        font-family: $content-font;
        font-size: 12px;

        @media (min-width: 768px) {
          font-size: 15px;
        }        
      }

      h5 {
        margin-bottom: 10px;
        font-size: 11px;
        font-weight: 300;
        font-style: italic;
        color: $summary-color;

        @media (min-width: 768px) {
          font-size: 14px;
        }
      }

      ul {
        margin-bottom: $default-gaps / 2;
        margin-left: 20px;
        text-align: left;
        font-size: 13px;
        line-height: 20px;

        @media (min-width: 768px) {
          font-size: 14px;
          line-height: 26px;
        }
      }

      @media (min-width: 768px) {
        h2 { width: 20%; }
        .inner {
          width: 77%;
          margin-left: 3%;
        }
      }
    }

    &.education {

      h4 {

        &:first-of-type {
          margin-bottom: $default-gaps / 2;
        }
      }
    }
  }
}


// Footer
// --------------------------------------------------------------------------

footer {
  float: left;
  width: 100%;
  min-height: 100px;

  .inner {
    display: none;
    height: 55px;
    max-width: 860px;
    margin: 180px auto 0;
    padding: 12px 0 50px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-top: 2px solid #000;

    @media (min-width: 680px) {
      max-width: 920px;
    }
  }
}




// Print
// ---------
body.print {
  width: 920px;

  ul.menu { display: none; }
  header div.fx { display: none; }

  header {
    height: 55px;
    margin-bottom: 50px;
    padding-top: 0;
    box-shadow: none;

    .inner {
      padding: 0 30px;

      @media (min-width: 680px) {
        padding: 0 50px;
      }

      .right, .left {
        text-align: left;
        border-bottom: 3px solid #000;
      }
    }
  }

  .content {
    .section.experience {
      position: relative;

      h2.xp-cont {
        position: absolute;
        top: 559px;
        display: block;
      }
    }
    .section h2 {
      display: block;
      width: 18%;
    }
    .section .inner .right { font-size: 13px; }
    .section.summary,
    .section.skills,
    .section.experience,
    .section.education { margin-bottom: 50px; }
    .section.summary .inner,
    .section.skills .inner,
    .section.experience .inner,
    .section.education .inner {
      margin: 0 0 0 3%;
      width: 79%;

      ul {
        font-size: 14px;
        line-height: 25px;
      }
    }
    .section.skills .left { width: 44%; }
    .section.skills .right {
      width: 52%;
      margin: 0 0 0 4%;
    }
    .section.experience,
    .section.education {
      h4 { font-size: 15px; }
      h5 { font-size: 14px; }
      .left { width: 48%; }
      .right {
        width: 48%;
        margin: 0 0 0 4%;
        text-align: right;
      }
    }
  }

  h2, h3 {
    color: #000 !important;
    background: none !important;
    -webkit-text-fill-color: initial !important;
    -webkit-border-image: none !important;
  }

  footer {
    min-height: 80px;
  
    .inner {
      display: block;
      height: auto;
      margin-top: 70px;
      padding-bottom: 0;
    }
  }
}