@import 'src/assets/styles/vars.scss';
@import 'src/assets/styles/animation.scss';

footer {
  z-index: -1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 100%;
  background-color: #000;
  background: linear-gradient(-45deg, $orange-color, $pink-color, $blue-color, $purple-color);
	background-size: 400% 400%;
  opacity: 0;
	animation:
    fade-in ease-in .5s .1s 1 forwards,
    splash-gradient ease 10s infinite;

  .overlay, .vignette {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: $trx-default;
  }

  .overlay {
    background: url(/assets/img/header/header-bg.png) center center repeat;
    background-size: 42px;
    opacity: .6;
  }

  .vignette { background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, #000 80%); }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 136px;
    margin: 0 auto;
    transition: $trx-default;

    svg { width: 100%; }
  }

  @media (min-width: $tablet-md-screen) {
    height: 160px;

    .logo { width: 160px; }
  }
}
