<h2>Articles</h2>
<ul>
  <li>
    <a href="https://medium.com/@jrodl3r/seo-w-angular-universal-on-google-cloud-platform-90b3d6358536" target="_blank">
      <span class="date">
        <div class="inner">
          <span class="month">Feb</span>
          <span class="day">18</span>
        </div>
      </span>
      SEO w/ Angular Universal on Google Cloud Platform
    </a>
  </li>
  <li>
    <a href="https://medium.com/@jrodl3r/exporting-dynamodb-data-to-excel-using-lambda-with-s3-on-aws-e6f873681c77" target="_blank">
      <span class="date">
        <div class="inner">
          <span class="month">Feb</span>
          <span class="day">11</span>
        </div>
      </span>
      Exporting DynamoDB Data to Excel using Lambda on AWS
    </a>
  </li>
  <li>
    <a href="https://medium.com/@jrodl3r/suggestive-search-w-firebase-cloud-functions-firestore-elasticsearch-angular-8-15a09134a85d" target="_blank">
      <span class="date">
        <div class="inner">
          <span class="month">Nov</span>
          <span class="day">02</span>
        </div>
      </span>
      Suggestive Search w/ Firebase, ElasticSearch + Angular
    </a>
  </li>
</ul>
