@import 'src/assets/styles/vars.scss';
@import 'src/assets/styles/animation.scss';

ul {
  display: flex;
  flex-direction: column;
  margin: -10px 0 0;
  padding: 0;
  list-style: none;
  text-align: left;

  li {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;

    &:last-of-type { margin-bottom: 0; }

    &:nth-of-type(1) a:hover {
      color: $magenta-color;
      .date { background: #FFF linear-gradient(0deg, $magenta-color 0%, $blue-color 100%); }
      .inner { color: $magenta-color; }
    }

    &:nth-of-type(2) a:hover {
      color: $blue-color;
      .date { background: #FFF linear-gradient(0deg, $green-color 0%, $blue-color 100%); }
      .inner { color: $blue-color; }
    }

    &:nth-of-type(3) a:hover {
      color: $orange-color;
      .date { background: #FFF linear-gradient(0deg, $pink-color 0%, $orange-color 100%); }
      .inner { color: $orange-color; }
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 18px;

      @media (min-width: $tablet-md-screen) {
        font-size: 20px;
      }
    }

    .date {
      display: flex;
      min-height: 40px;
      min-width: 40px;
      max-width: 40px;
      margin-top: 6px;
      margin-right: 16px;
      margin-bottom: auto;
      padding-bottom: 5px;
      background: #FFF linear-gradient(0deg, #EEE 0%, #BBB 100%);
      border-radius: 6px;

      .inner {
        display: flex;
        flex-direction: column;
        height: 38px;
        width: 38px;
        margin-top: 1px;
        margin-left: 1px;
        padding-bottom: 2px;
        color: #000;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        background: #FFF linear-gradient(0deg, #FFF 0%, #FAFAFA 100%);
        border-radius: 6px;
      }
    }

    .month { text-transform: uppercase; }

    .day {
      font-size: 11px;
      font-weight: 300;
      line-height: 12px;
    }
  }
}
