@import 'src/assets/styles/vars.scss';
@import 'src/assets/styles/animation.scss';

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 20px;
    transition: color $trx-default;

    &:hover {
      color: #777;

      svg path { fill: #777; }
    }

    &.linkedin:hover {
      color: #007BB6;

      svg path { fill: #007BB6; }
    }

    &.resume:hover {
      color: $blue-color;

      svg path { fill: $blue-color; }
    }

    &.email:hover {
      color: $magenta-color;

      svg path { fill: $magenta-color; }
    }
  }

  svg {
    max-width: 34px;
    height: 34px;
    margin-right: 16px;

    path {
      transition: $trx-default;
      fill: #000;
    }
  }

  span {
    min-width: 90px;
    font-size: 20px;
  }

  @media (min-width: $tablet-md-screen) {
    a {
      padding-left: 0;
      justify-content: initial;
    }

    // svg {
    //   max-width: 36px;
    //   height: 36px;
    //   margin-right: 18px;
    // }

    // span { font-size: 22px; }
  }
}
