<div
  class="modal-stage"
  [class.active]="ui.isModalActive"
  (click)="this.closeModal()"></div>
<div
  class="modal"
  [class.active]="ui.isModalActive">
  <div
    class="close"
    (click)="this.closeModal()">
    <mat-icon>close</mat-icon>
  </div>
  <div
    class="modal-nav-left"
    (click)="ui.navModalLeft()">
    <mat-icon>arrow_back_ios</mat-icon>
  </div>
  <div
    class="modal-nav-right"
    (click)="ui.navModalRight()">
    <mat-icon>arrow_forward_ios</mat-icon>
  </div>
  <div
    class="modal-item target"
    [class.active]="ui.activeProject === 0">
    <img class="logo" src="assets/img/logos/target.svg" alt="Target">
    <p>As a UI/UX consultant for <em>Target</em> I was part of a small team that launched the <em>1,000 Likes</em> and <em>Microgifting</em> campaigns. My contributions included JavaScript and CSS development.</p>
    <ul class="screens">
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/target/sample-01-small.jpg"
          alt="Target Screen 01"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/target/sample-01.jpg', 'Target Screen 01')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/target/sample-02-small.jpg"
          alt="Target Screen 02"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/target/sample-02.jpg', 'Target Screen 02')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/target/sample-03-small.jpg"
          alt="Target Screen 03"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/target/sample-03.jpg', 'Target Screen 03')">
      </li>
    </ul>
  </div>
  <div
    class="modal-item ge"
    [class.active]="ui.activeProject === 1">
    <img class="logo" src="assets/img/logos/ge.svg" alt="GE">
    <p>While consulting at <em>HUGE Inc</em> as a UI/UX engineer I built a UI framework for <em>GE Capital</em>, which included a distilled set of interface templates, modules and components.</p>
    <ul class="screens">
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/ge/sample-01-small.jpg"
          alt="GE Screen 01"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/ge/sample-01.jpg', 'GE Screen 01')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/ge/sample-02-small.jpg"
          alt="GE Screen 02"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/ge/sample-02.jpg', 'GE Screen 02')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/ge/sample-03-small.jpg"
          alt="GE Screen 03"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/ge/sample-03.jpg', 'GE Screen 03')">
      </li>
    </ul>
  </div>
  <div
    class="modal-item ts"
    [class.active]="ui.activeProject === 2">
    <img class="logo" src="assets/img/logos/360i.svg" alt="360i">
    <p>While consulting with <em>360i</em> as a UI/UX engineer I collaborated with several high-end brands on cutting-edge web, mobile and social media applications.</p>
    <ul class="screens">
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/360i/sample-01-small.jpg"
          alt="360i Screen 01"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/360i/sample-01.jpg', '360i Screen 01')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/360i/sample-02-small.jpg"
          alt="360i Screen 02"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/360i/sample-02.jpg', '360i Screen 02')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/360i/sample-03-small.jpg"
          alt="360i Screen 03"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/360i/sample-03.jpg', '360i Screen 03')">
      </li>
    </ul>
  </div>
  <div
    class="modal-item crown"
    [class.active]="ui.activeProject === 3">
    <img class="logo" src="assets/img/logos/crown.svg" alt="Crown">
    <p>The <em>Crown Cork</em> website was one of my first professional projects as a developer with <em>Door 3</em>. I translated design comps into stylesheets and coded functionality in PHP &amp; JavaScript.</p>
    <ul class="screens">
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/crown/sample-01-small.jpg"
          alt="Crown Screen 01"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/crown/sample-01.jpg', 'Crown Screen 01')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/crown/sample-02-small.jpg"
          alt="Crown Screen 02"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/crown/sample-02.jpg', 'Crown Screen 02')">
      </li>
    </ul>
  </div>
  <div
    class="modal-item kraft"
    [class.active]="ui.activeProject === 4">
    <img class="logo" src="assets/img/logos/kraft.svg" alt="Kraft">
    <p>I worked with the <em>Kraft</em> team as a UI/UX consultant to build the front-end of several household-brand feature sites that were geared towards speed and usability.</p>
    <ul class="screens">
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/kraft/sample-01-small.jpg"
          alt="Kraft Screen 01"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/kraft/sample-01.jpg', 'Kraft Screen 01')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/kraft/sample-02-small.jpg"
          alt="Kraft Screen 02"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/kraft/sample-02.jpg', 'Kraft Screen 02')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/kraft/sample-03-small.jpg"
          alt="Kraft Screen 03"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/kraft/sample-03.jpg', 'Kraft Screen 03')">
      </li>
    </ul>
  </div>
  <div
    class="modal-item om"
    [class.active]="ui.activeProject === 5">
    <img class="logo" src="assets/img/logos/oscarmayer.svg" alt="Oscar Mayer">
    <p>With <em>Oscar Mayer</em>, I developed a site focused on a social media campaign launched in 2010. We leveraged several CSS3 &amp; HTML5 features that helped create a bold and responsive interface.</p>
    <ul class="screens">
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/oscarmayer/sample-01-small.jpg"
          alt="Oscar Mayer Screen 01"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/oscarmayer/sample-01.jpg', 'Oscar Mayer Screen 01')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/oscarmayer/sample-02-small.jpg"
          alt="Oscar Mayer Screen 02"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/oscarmayer/sample-02.jpg', 'Oscar Mayer Screen 02')">
      </li>
    </ul>
  </div>
  <div
    class="modal-item adultswim"
    [class.active]="ui.activeProject === 6">
    <img class="logo" src="assets/img/logos/adultswim.svg" alt="Adult Swim">
    <p>As a UI/UX consultant at <em>HUGE Inc</em>, I prototyped and implemented front-end features, components and styling for this <em>Adult Swim</em> companion app.</p>
    <ul class="screens">
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/adultswim/sample-01-small.png"
          alt="Adult Swim Screen 01"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/adultswim/sample-01.png', 'Adult Swim Screen 01')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/adultswim/sample-02-small.png"
          alt="Adult Swim Screen 02"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/adultswim/sample-02.png', 'Adult Swim Screen 02')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/adultswim/sample-03-small.png"
          alt="Adult Swim Screen 03"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/adultswim/sample-03.png', 'Adult Swim Screen 03')">
      </li>
    </ul>
  </div>
  <div
    class="modal-item yc"
    [class.active]="ui.activeProject === 7">
    <img class="logo" src="assets/img/logos/yourcare.svg" alt="Your Care">
    <p>An old friend/client was in the concept phase of an idea for a social healthcare app and wanted get it up and running. I styled and coded this app using Angular, Sass and Grunt.</p>
    <ul class="screens">
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/yourcare/sample-01-small.jpg"
          alt="Your Care Screen 01"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/yourcare/sample-01.jpg', 'Your Care Screen 01')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/yourcare/sample-02-small.jpg"
          alt="Your Care Screen 02"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/yourcare/sample-02.jpg', 'Your Care Screen 02')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/yourcare/sample-03-small.jpg"
          alt="Your Care Screen 03"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/yourcare/sample-03.jpg', 'Your Care Screen 03')">
      </li>
    </ul>
  </div>
  <div
    class="modal-item nylearns"
    [class.active]="ui.activeProject === 8">
    <img class="logo" src="assets/img/logos/nylearns.svg" alt="NY Learns">
    <p>Passionate about creating tools that enhance education, I worked at <em>3rd Learning</em> as a Senior UI engineer. In collaboration with educators, I built software to support classroom teachers.</p>
    <ul class="screens">
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/nylearns/sample-01-small.jpg"
          alt="NY Learns Screen 01"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/nylearns/sample-01.jpg', 'NY Learns Screen 01')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/nylearns/sample-02-small.jpg"
          alt="NY Learns Screen 02"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/nylearns/sample-02.jpg', 'NY Learns Screen 02')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/nylearns/sample-03-small.jpg"
          alt="NY Learns Screen 03"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/nylearns/sample-03.jpg', 'NY Learns Screen 03')">
      </li>
    </ul>
  </div>
  <div
    class="modal-item sensei"
    [class.active]="ui.activeProject === 9">
    <img class="logo" src="assets/img/logos/sensei.svg" alt="Sensei">
    <p>As a long time Crypto enthusiast, I created <em>Sensei</em>, a Cryptocurrency Exchange aimed at demystifying digital currency investing for all.</p>
    <ul class="screens">
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/sensei/sample-01-small.jpg"
          alt="Sensei Screen 01"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/sensei/sample-01.jpg', 'Sensei Screen 01')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/sensei/sample-02-small.jpg"
          alt="Sensei Screen 02"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/sensei/sample-02.jpg', 'Sensei Screen 02')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/sensei/sample-03-small.jpg"
          alt="Sensei Screen 03"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/sensei/sample-03.jpg', 'Sensei Screen 03')">
      </li>
    </ul>
  </div>
  <div
    class="modal-item gi"
    [class.active]="ui.activeProject === 10">
    <img class="logo" src="assets/img/logos/gi.svg" alt="Ghost Inspector">
    <p>As a freelancer, I had the opportunity to work with Justin, the creator of <em>Ghost Inspector</em>. I helped implement new features and styling enhancements for this automated website testing platform.</p>
    <ul class="screens">
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/gi/sample-01-small.jpg"
          alt="Ghost Inspector Screen 01"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/gi/sample-01.jpg', 'Ghost Inspector Screen 01')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/gi/sample-02-small.jpg"
          alt="Ghost Inspector Screen 02"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/gi/sample-02.jpg', 'Ghost Inspector Screen 02')">
      </li>
      <li>
        <img
          src="https://storage.googleapis.com/jrod-new.appspot.com/projects/gi/sample-03-small.jpg"
          alt="Ghost Inspector Screen 03"
          (click)="ui.openScreen('https://storage.googleapis.com/jrod-new.appspot.com/projects/gi/sample-03.jpg', 'Ghost Inspector Screen 03')">
      </li>
    </ul>
  </div>
</div>
