//
// Blog Styles
//
// ==========================================================================

.blog {
  display: none;


  @include breakpoint($bp-tablet) {
    display: block;
  }

  a {
    float: left;
    width: 100%;
    padding: 10px 0;
    color: #b3b3b3;
    font-size: 17px;
    text-decoration: none;

  }
}