@import 'src/assets/styles/vars.scss';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #000;
  -webkit-text-size-adjust: 100%;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  background: -webkit-linear-gradient(#AAA, #000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  @media (min-width: $tablet-md-screen) {
    text-align: left;
  }

  @media (min-width: $tablet-lg-screen) {
    font-size: 42px;
  }
}

p, ul {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;

  @media (min-width: $mobile-md-screen) {
    font-size: 16px;
    line-height: 28px;
  }

  @media (min-width: $tablet-sm-screen) {
    font-size: 13px;
    line-height: 26px;
  }

  @media (min-width: $content-max-width-sm) {
    font-size: 14px;
  }

  @media (min-width: $tablet-md-screen) {
    font-size: 16px;
    line-height: 30px;
  }

  @media (min-width: $tablet-lg-screen) {
    font-size: 18px;
    line-height: 34px;
  }
}

a {
  color: #222;
  text-decoration: none;

  &:visited { color: #222; }
}
