@import 'src/assets/styles/vars.scss';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #000;
  -webkit-text-size-adjust: 100%;
}

h2 {
  margin: 50px 0 40px;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  background: -webkit-linear-gradient(#AAA, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  width: 85%;
  margin: 0 auto 20px;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;

  @media (min-width: $mobile-md-screen) {
    font-size: 16px;
    line-height: 28px;
  }

  @media (min-width: $mobile-lg-screen) {
    font-size: 17px;
    line-height: 30px;
  }
}
