// Breakpoints
$mobile-xs-screen: 320px;
$mobile-sm-screen: 360px;
$mobile-md-screen: 375px;
$mobile-lg-screen: 425px;
$tablet-sm-screen: 520px;
$tablet-md-screen: 768px;
$tablet-lg-screen: 1024px;
$desktop-screen: 1200px;
$desktop-lg-screen: 1440px;


// Colors
$blue-color: #0072FF;
$green-color: #0CF1BB;
$orange-color: #EE7752;
$pink-color: #E73C7E;
$purple-color: #4E18A6;
