// Breakpoints
$mobile-xs-screen: 320px;
$mobile-sm-screen: 360px;
$mobile-md-screen: 375px;
$mobile-lg-screen: 425px;
$tablet-sm-screen: 560px;
$tablet-md-screen: 768px;
$tablet-lg-screen: 1024px;
$desktop-screen: 1200px;
$desktop-lg-screen: 1440px;

// Dimensions
$content-max-width-sm: 600px;
$content-max-width-md: 740px;
$content-max-width-lg: 960px;

// Colors
$blue-color: #0072FF;
$green-color: #0CF1BB;
$orange-color: #EE7752;
$pink-color: #E73C7E;
$purple-color: #4E18A6;
$magenta-color: #8E57E7;
