<div class="root home" [class.loaded]="isLoaded">
  <app-header id="top"></app-header>
  <div class="content">
    <div class="inner">
      <div class="scroll-arrow" (click)="ui.scrollToElement('vision')">
        <svg width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
      </div>
      <home-vision id="vision"></home-vision>
      <home-work id="work"></home-work>
      <home-articles id="articles"></home-articles>
      <div class="split">
        <home-links id="links"></home-links>
        <home-contact id="contact"></home-contact>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
