<h2>Work</h2>
<div
  class="stage"
  (swipeleft)="ui.swipePageLeft()"
  (swiperight)="ui.swipePageRight()">
  <app-tiles></app-tiles>
</div>
<ul class="pager">
  <li
    class="marker"
    [class.pos0]="ui.activePage === 0"
    [class.pos1]="ui.activePage === 1"
    [class.pos2]="ui.activePage === 2"
    [class.pos3]="ui.activePage === 3"
    [class.pos4]="ui.activePage === 4"
    [class.pos5]="ui.activePage === 5"></li>
  <li
    class="pos0"
    [class.active]="ui.activePage === 0"
    (click)="ui.updatePage(0)"></li>
  <li
    class="pos1"
    [class.active]="ui.activePage === 1"
    (click)="ui.updatePage(1)"></li>
  <li
    class="pos2"
    [class.active]="ui.activePage === 2"
    (click)="ui.updatePage(2)"></li>
  <li
    class="pos3"
    [class.active]="ui.activePage === 3"
    (click)="ui.updatePage(3)"></li>
  <li
    class="pos4"
    [class.active]="ui.activePage === 4"
    (click)="ui.updatePage(4)"></li>
  <li
    class="pos5"
    [class.active]="ui.activePage === 5"
    (click)="ui.updatePage(5)"></li>
</ul>
<app-modal></app-modal>
<div
  class="screen-viewer"
  [class.active]="ui.isScreenActive"
  (click)="ui.closeScreen()">
  <img
    *ngIf="ui.isScreenActive"
    [src]="ui.activeScreenSource"
    [alt]="ui.activeScreenAltText"
    (click)="ui.closeScreen()">
</div>
